# Ignore full.csv and MalwareBazaar.zip
# TrojanTrap-main/backend/full.csv
MalwareBazaar/*
full.csv
MalwareBazaar.zip
# TrojanTrap-main/backend/MalwareBazaar.zip

# Ignore node_modules
node_modules/

# Ignore environment variables
.env
